@import "./layout/_configuraciones.scss";
@import "./layout/_dashboard.scss";
@import "./layout/_notas.scss";
@import "./layout/_objetivos.scss";
@import "./layout/_pomodoro.scss";
@import "./layout/_proyectos.scss";
@import "./layout/_tareas.scss";
@import "./layout/_estadisticas.scss";
@import "./themes/_whitemode.scss";
@import "./utilities/_mixing.scss";
@import "./utilities/_variables.scss";

* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
}

body {
    background-color: #111111;
    font-family: "Montserrat", sans-serif;
    color: white;
}

nav {
    display: flex;
    gap: 16px;
    flex-direction: column;

    button {
        width: 312px;
        color: white;
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 24px 32px;
        border-radius: 24px;
        font-size: 16px;
        font-family: "Montserrat";
        font-weight: 600;
        border: none;
        background-color: #171717;

        .active {
            background-color: #222222;
        }
    }
}

.nav-lateral {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;

}

.logo {
    width: 260px;
    padding-bottom: 16px;
}

.menu-indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 56px;
    width: 312px;
    border-radius: 24px;
    pointer-events: none;
    z-index: 0;
    transform: translateY(0);
    transition: transform 280ms cubic-bezier(.2, .9, .2, 1), width 220ms ease, height 220ms ease;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.55), inset 0 1px 0 rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.nav-lateral {
    nav {
        position: relative;
        display: flex;
        gap: 16px;
        flex-direction: column;

        .menu-item {
            position: relative;
            z-index: 1;
            background-color: transparent;
            transition: color 180ms ease, background-color 180ms ease;

            :active {
                color: #fff;
            }
        }

    }
}